.container{
    text-align:center;
    margin-top:50px;
    font-family:Arial;
}

.card{
    width:400px;
    margin:auto;
    padding:20px;
    border:2px solid blue;
    border-radius:10px;
    background:#f2f2f2;
}

h1{
    color:blue;
}

p{
    font-size:20px;
    text-align:left;
}